---
import Card from '../Card.astro'

const { name, role, image, url } = Astro.props
---

<a
  href={url}
  target='_blank'
  rel='noopener noreferrer'
  class='hover:scale-105 transition-all'
>
  <Card>
    <img
      src={image ?? '/images/members/default.png'}
      class='inline-block h-[200px] w-[200px] rounded-full ring-2 ring-black'
    />
    <h2 class='pt-4 text-black'>{name}</h2>
  </Card>
</a>
