---
import Card from '../components/Card.astro'
import ColorContainer from '../components/container/ColorContainer.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header'
import Layout from '../layouts/Layout.astro'

const colore = [
  {
    name: '#373A50',
    title: 'Azul Escuro - #373A50',
    description:
      'Representa a abordagem profissional e responsável da nossa empresa. Desenvolvemos aplicativos com a mais alta qualidade, sempre comprometidos em atender às necessidades dos nossos clientes.',
  },
  {
    name: '#9297CB',
    title: 'Azul - #9297CB',
    description:
      'Transmite nossa abordagem criativa e inovadora no desenvolvimento de soluções personalizadas e modernas para cada cliente. Acreditamos que cada projeto é único e merece uma solução diferenciada.',
  },
  {
    name: '#EE7036',
    title: 'Laranja - #EE7036',
    description:
      'Representa nossa abordagem dinâmica e proativa. Sempre em busca de oferecer soluções energéticas e entusiasmadas para nossos clientes, fazendo com que o processo seja algo totalmente único e motivador.',
  },
]
---

<Layout title='Identidade'>
  <Header client:load />
  <main
    class='w-11/12 container p-4 grid grid-cols-1 md:grid-cols-2 place-items-center'
  >
    <img src='/images/logo.svg' alt='Revo logo' class='w-11/12 m-auto' />
    <Card>
      <p>
        O nome REVO é uma abreviação para "revolução", e simboliza a
        transformação que a empresa busca trazer através da tecnologia. O ícone
        de nuvem representa a abordagem moderna e inovadora da empresa, que
        possibilita o acesso remoto e a facilidade de uso das soluções
        tecnológicas oferecidas. A REVO está pronta para criar um mundo de
        possibilidades junto com você. Venha fazer parte da nossa revolução
        tecnológica!
      </p>
    </Card>
  </main>
  <div class='bg-darkBlue'>
    <div class='container'>
      <div
        class='grid grid-cols-1 lg:grid-cols-2 place-items-center justify-items-center'
      >
        <Card>
          <div class='min-h-[20px]'></div>
          <h2>Conheça nossas cores</h2>
          <p class='text-center md:text-left'>
            Nossa identidade visual é composta por cinco cores incríveis: o
            azul, o laranja, o amarelo, o salmão e o verde. Cada uma delas
            transmite uma mensagem única que reflete nossa abordagem moderna e
            inovadora.
          </p>
        </Card>
        {
          colore.map((item) => (
            <ColorContainer
              name={item.name}
              description={item.description}
              title={item.title}
            />
          ))
        }
      </div>
    </div>
  </div>
  <Footer />
</Layout>
