---
import Card from '../components/Card.astro'
import MemberContainer from '../components/container/MemberContainer.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header'
import Layout from '../layouts/Layout.astro'

const members = [
  {
    name: 'Fabíola',
    image: '/images/members/fabiola.svg',
    url: 'https://www.linkedin.com/in/fabiola-santana-santos-b1a37037/',
  },
  {
    name: 'Laura',
    image: '/images/members/laura.svg',
    url: 'https://www.linkedin.com/in/lauraxch',
  },
  {
    name: 'Matheus',
    image: '/images/members/matheus.svg',
    url: 'https://www.github.com/kiwizitos',
  },
  {
    name: 'Yasmim',
    image: '/images/members/yasmin.svg',
    url: 'https://www.linkedin.com/in/yasmin-rodrigues-71bb61246',
  },
]
---

<Layout title='Equipe'>
  <Header client:load />
  <div class='flex flex-col items-center'>
    <main
      class='w-11/12 container p-4 grid grid-cols-1 lg:grid-cols-2 place-items-center'
    >
      <img src='/images/content/user.svg' alt='' />
      <Card>
        <h2>Conheça a nossa equipe</h2>
        <p>
          Nós somos uma equipe de profissionais apaixonados por tecnologia e
          inovação, dedicados a criar soluções personalizadas e eficientes para
          atender às necessidades específicas de nossos clientes. Nossa
          abordagem é orientada a resultados e centrada no usuário, garantindo
          que cada projeto que entregamos seja funcional, intuitivo e atraente.
          Se você está procurando uma equipe experiente e confiável para
          ajudá-lo a impulsionar sua empresa para o próximo nível, estamos aqui
          para ajudar!
          <br />
          Cada membro tem sua especialidade em design, desenvolvimento de software,
          testes ou gerenciamento de projetos. Compartilhamos a paixão por criar
          aplicativos incríveis que transformam vidas e negócios.
        </p>
      </Card>
    </main>
    <div
      class='w-full flex flex-col items-center place-items-center md:grid grid-cols-2 grid-rows-2 lg:grid-cols-4 lg:grid-rows-1 gap-4 bg-darkBlue p-4'
    >
      {
        members.map((item) => (
          <MemberContainer name={item.name} image={item.image} url={item.url} />
        ))
      }
    </div>
  </div>
</Layout>
<Footer />
