---
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Projetos'>
  <Header client:load />
  <main
    class='w-11/12 container p-4 grid grid-cols-1 lg:grid-cols-2 place-items-center'
  >
    <Card>
      <h2>Alguns de nossos projetos</h2>
      <p>
        Aqui você encontrará uma galeria de projetos incríveis, que foram
        criados com paixão e dedicação para superar as expectativas. Nossos
        projetos são verdadeiras obras de arte que combinam inovação, design e
        tecnologia para trazer soluções eficazes e impactantes para as
        necessidades de nossos clientes. Com cada projeto, buscamos ultrapassar
        os limites e desafiar a si mesmos a superar a excelência. Se você está
        procurando por projetos únicos que possam surpreender e encantar, então
        você veio ao lugar certo! Navegue pela nossa galeria e deixe-se inspirar
        pelos nossos trabalhos incríveis.
      </p>
    </Card>
    <img src='/images/content/navigation.svg' alt='' />
  </main>
  <div class='bg-[#191919] p-4'>
    <div
      class='w-11/12 container grid grid-cols-1 lg:grid-cols-2 place-items-center'
    >
      <div class='text-white lg:w-1/2'>
        <h2>Table Ease</h2>
        <p class='mb-4'>
          Vai rachar a conta? Dividir esse valor entre amigos nunca foi tão
          fácil!
        </p>
        <a href="https://tableease.netlify.app/" target="_blank">
          <button class='w-full bg-[#00BFFF] hover:bg-[#00BFFF]'>Conheça</button>
        </a>
      </div>
      <div
        class='flex flex-col sm:flex-row sm:w-1/3 gap-10 items-center justify-center p-10'
      >
        <img src='/images/preview/table-ease01.png' alt='' />
        <img src='/images/preview/table-ease02.png' alt='' />
        <img src='/images/preview/table-ease03.png' alt='' />
      </div>
    </div>
  </div>
  <div class='bg-darkBlue'>
    <h2 class='text-white text-center pt-10'>
      Fique por dentro e saiba todas as novidades dos nossos projetos :)
    </h2>
  </div>
  <Footer />
</Layout>
