---
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Projetos'>
  <Header client:load />
  <main
    class='w-11/12 container p-4 grid grid-cols-1 lg:grid-cols-2 place-items-center'
  >
    <Card>
      <h2>Alguns de nossos projetos</h2>
      <p>
        Se você está procurando por projetos únicos que possam surpreender e
        encantar, então você veio ao lugar certo! Navegue pela nossa galeria e
        deixe-se inspirar pelos nossos trabalhos incriveis.
      </p>
    </Card>
    <img src='/images/content/navigation.svg' alt='' />
  </main>
  <div class='bg-darkBlue p-4'>
    <div
      class='w-11/12 container grid grid-cols-1 lg:grid-cols-2 place-items-center'
    >
      <Card>
        <h2>TableEase</h2>
        <p>
          O TableEase é um aplicativo projetado para simplificar o processo de
          gerenciamento de comandas, tornando a sua experiência ainda melhor.
          Com nossos gráficos interativos, você poderá visualizar informações
          importantes de uma forma mais fácil e intuitiva, permitindo que você
          analise dados, estatísticas e desempenho em tempo real. A atualização
          mais recente fortalece essa funcionalidade, proporcionando uma
          experiência ainda mais agradável e completa para você. Experimente
          agora mesmo e descubra como o TableEase pode ajudá-lo a gerenciar suas
          comandas de maneira simples e eficiente.
        </p>
        <button>Conheça</button>
      </Card>
      <img src='/images/content/account.svg' alt='' class='w-1/2' />
    </div>
    <h2 class='text-white text-center pt-10'>
      Fique por dentro e saiba todas as novidades dos nossos projetos :)
    </h2>
  </div>
  <Footer />
</Layout>
