---
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Nossos serviços'>
  <Header client:load />
  <main
    class='w-11/12 container p-4 grid grid-cols-1 lg:grid-cols-2 place-items-center'
  >
    <img src='/images/content/team.svg' alt='' />
    <Card>
      <h2>O que fazemos?</h2>
      <p>
        Nós somos uma consultoria especializada em desenvolvimento de
        aplicativos, criando soluções personalizadas para o seu negócio.
        Oferecemos uma equipe de especialistas em todas as etapas do processo,
        desde o planejamento até o lançamento e manutenção contínua. Com os
        nossos aplicativos, os usuários terão uma experiência única e
        inesquecível. Se você quer se destacar no mercado de aplicativos,
        estamos aqui para ajudá-lo. Preencha o nosso formulário de contato e
        descubra como podemos transformar a sua ideia em um aplicativo incrível!
      </p>
    </Card>
  </main>
  <div class='bg-darkBlue py-2 flex justify-center'>
    <div class='w-1/2'>
      <Card>
        <h2>O que é a Revo?</h2>
        <p>
          A Revo é uma consultoria de tecnologias especializada em
          desenvolvimento mobile. Somos um grupo de 4 desenvolvedores
          experientes que oferecem soluções personalizadas para as necessidades
          de nossos clientes.
        </p>
      </Card>
      <Card>
        <h2>Quais são os serviços oferecidos pela Revo?</h2>
        <p>
          Nós oferecemos serviços de desenvolvimento mobile, incluindo o
          desenvolvimento de aplicativos para iOS e Android, integração de
          sistemas, desenvolvimento de API's e consultoria em tecnologia.
        </p>
      </Card>
      <Card>
        <h2>
          Que tecnologias a Revo utiliza para desenvolver aplicativos móveis?
        </h2>
        <p>
          A Revo utiliza várias tecnologias para desenvolver aplicativos móveis
          de alta qualidade. Nossa principal linguagem de programação é o
          Kotlin, que é uma linguagem de programação moderna, concisa e
          expressiva, desenvolvida especialmente para o desenvolvimento de
          aplicativos Android. Também utilizamos outras tecnologias e
          ferramentas como o Android Studio, o Firebase, o AWS, o React Native e
          o Flutter, dependendo das necessidades específicas do projeto e das
          preferências do cliente. Nós escolhemos cuidadosamente as tecnologias
          a serem utilizadas com base nas necessidades do projeto e em nosso
          conhecimento especializado em desenvolvimento móvel para garantir a
          melhor experiência para o usuário e a entrega de um produto de alta
          qualidade.
        </p>
      </Card>
      <Card>
        <h2>Qual é o processo de desenvolvimento da Revo?</h2>
        <p>
          Nosso processo de desenvolvimento começa com uma análise detalhada das
          necessidades do cliente, seguida pelo planejamento e design do
          aplicativo. Depois, passamos para o desenvolvimento e testes, e,
          finalmente, o lançamento e monitoramento do aplicativo.
        </p>
      </Card>
      <Card>
        <h2>A Revo oferece suporte após o lançamento do aplicativo?</h2>
        <p>
          Sim, oferecemos suporte e manutenção contínuos após o lançamento do
          aplicativo. Isso inclui atualizações de segurança, correções de bugs e
          aprimoramentos. sim
        </p>
      </Card>
      <Card>
        <h2>Qual é a abordagem de preços da Revo?</h2>
        <p>
          Nós trabalhamos com preços personalizados para cada projeto,
          dependendo do tamanho, complexidade e requisitos do cliente. Nós
          fornecemos estimativas claras e transparentes antes de iniciar o
          trabalho.
        </p>
      </Card>
      <Card>
        <h2>A Revo oferece serviços de hospedagem?</h2>
        <p>
          Não, nós não oferecemos serviços de hospedagem. No entanto, podemos
          fornecer orientações e recomendações sobre provedores de hospedagem
          confiáveis.
        </p>
      </Card>
      <Card>
        <h2>Qual é a política de privacidade da Revo?</h2>
        <p>
          Nós levamos a privacidade e a segurança dos dados dos clientes muito a
          sério. Nós seguimos as melhores práticas de segurança e não
          compartilhamos nenhuma informação confidencial do cliente com
          terceiros.
        </p>
      </Card>
      <Card>
        <h2>Como posso entrar em contato com a Revo?</h2>
        <p>
          Você pode entrar em contato conosco preenchendo um formulário de
          contato em nosso website. Este formulário permite que você nos envie
          uma mensagem diretamente, e nossa equipe de atendimento ao cliente
          responderá a você em breve.
        </p>
      </Card>
    </div>
  </div>
  <Footer />
</Layout>
