---
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Nossos serviços'>
  <Header client:load />
  <main
    class='w-11/12 container p-4 grid grid-cols-1 lg:grid-cols-2 place-items-center'
  >
    <img src='/images/content/team.svg' alt='' />
    <Card>
      <h2>O que fazemos?</h2>
      <p>
        Somos especialistas em transformar ideias em aplicativos de sucesso. Nos
        cuidamos de cada detalhe, desde o planejamento até o lançamento, para
        que você possa focar no que realmente importa: o sucesso do seu negócio.
      </p>
    </Card>
  </main>
  <!-- <div class="bg-darkBlue h-[300px]">
    <Card>
      <p>FAQ</p>
    </Card>
  </div> -->
  <div class='h-[200px]'></div>
  <Footer />
</Layout>
