---
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Nossos serviços'>
  <Header client:load />
  <main
    class='w-11/12 container p-4 grid grid-cols-1 lg:grid-cols-2 place-items-center'
  >
    <img src='/images/content/team.svg' alt='' />
    <Card>
      <h2>O que fazemos?</h2>
      <p>
        Somos especialistas em transformar ideias em aplicativos de sucesso. Nos
        cuidamos de cada detalhe, desde o planejamento até o lançamento, para
        que você possa focar no que realmente importa: o sucesso do seu negócio.
      </p>
    </Card>
  </main>
  <div class='bg-darkBlue py-2 flex justify-center'>
    <div class='w-11/12 p-4 grid grid-cols-1 lg:grid-cols-2 place-items-center'>
      <Card>
        <div class='lg:h-48 flex flex-col justify-center'>
          <h2>A Revo oferece suporte e manutenção contínua?</h2>
          <p>
            Sim, oferecemos serviços de suporte e manutenção após a criação da
            aplicação ou implementação do sistema.
          </p>
        </div>
      </Card>
      <Card>
        <div class='lg:h-48 flex flex-col justify-center'>
          <h2>
            A empresa tem experiência em desenvolver aplicativos multiplataformas?
          </h2>
          <p>
            Sim, para dispositivos móveis utilizamos uma linguagem híbrida, que
            permite a criação de aplicativos para os dois sistemas.
          </p>
        </div>
      </Card>
      <Card>
        <div class='lg:h-48 flex flex-col justify-center'>
          <h2>
            Como funciona o processo de desenvolvimento de sistemas?
          </h2>
          <p>
            O processo envolve uma análise de requisitos,
            definição funcional e técnica,
            prototipagem, desenvolvimento de código e
            suporte/manutenção contínuos.
          </p>
        </div>
      </Card>
      <Card>
        <div class='lg:h-48 flex flex-col justify-center'>
          <h2>Quanto tempo leva para desenvolver um aplicativo?</h2>
          <p>
            Depende de sua complexidade e pode variar de
            algumas semanas a meses, levando em conta todas as etapas de
            desenvolvimento.
          </p>
        </div>
      </Card>
      <Card>
        <div class='lg:h-48 flex flex-col justify-center'>
          <h2>Qual é o custo médio para o desenvolvimento de um aplicativo?</h2>
          <p>
            O custo médio pode variar dependendo do escopo, funcionalidade e
            complexidade do projeto.
          </p>
        </div>
      </Card>
    </div>
  </div>
  <Footer />
</Layout>
